---
---

h1 {
  text-align: center;
}

.category-container {
  border-top: 1px solid #eee;
  max-width: 800px;
  padding: 16px;
  margin: auto;

  &:last-of-type {
    border-bottom: 1px solid #eee;
  }
}
