<section id="available-tokens-section">
  <div class="section-content">
    <h2>
      {{ layout.availableTokensSection.title }}
    </h2>
  
    <div class="subtitle">
      {{ layout.availableTokensSection.subtitle }}
    </div>
    
    <div class="tokens-container">
      {% for token in site.data.availableCryptoTokens %}
        {% if forloop.index >= layout.availableTokensSection.tokensLimit %}
          {% break %}
        {% endif %}
        <a href="#cta-section" class="token-container">
          <div class="logo-container">
            <img src="{{ token.logo }}" alt="{{ token.name }}" />
          </div>
          <div class="token-name">{{ token.name }}</div>
          <div class="token-symbol">
            Symbol: {{ token.symbol }}
          </div>
        </a>
      {% endfor %}
    </div>
  
    <div class="full-list-link-container">
      <a
        class="button outlined"
        target="_blank"
        rel="noindex, nofollow, noopener"
        href="{{ layout.availableTokensSection.fullListLinkHref }}"
        title="{{ layout.availableTokensSection.fullListLinkText }}"
      >
        {{ layout.availableTokensSection.fullListLinkText }}
      </a>
    </div>
  </div>
</section>
