<section id="intro-section">
  <div class="section-content">
    <div class="intro-texts">
      <h1>{{ layout.introSection.title }}</h1>
      <div class="subtitle">
        <ul>
          {% for callout in layout.introSection.callouts %}
            <li>
              {{ callout }}
            </li>
          {% endfor %}
        </ul>
        <!-- {{ layout.introSection.subtitle }} -->
      </div>
  
      <div class="buttons">
        <a class="button" href="{{ layout.introSection.mainButtonLink }}">
          {{ layout.introSection.mainButtonText }}
        </a>

        <span>
          or
        </span>

        <a class="alt-action-link" href="{{ layout.introSection.altActionLink }}">
          {{ layout.introSection.altActionText }}
        </a>
      </div>
    </div>
  
    <div class="intro-image">
      <img src="{{ layout.introSection.introImage }}" alt="crypto tokens api" loading="lazy" />
    </div>
  </div>
</section>
