<header>
  <nav class="navbar">
    <div class="navbar-content">
      <div class="logo-container">
        <img
          src="https://redstone.finance/assets/img/redstone-logo-full.svg"
          alt="RedStone logo"
          loading="lazy"
        />
      </div>

      <div class="navbar-links">
        <a
          id="supported-tokens-link"
          target="_blank"
          href="/supported-currencies"
        >
          Supported tokens
        </a>
        <a
          id="free-support-link"
          target="_blank"
          href="{{ layout.navbar.freeSupportLinkUrl }}"
        >
          Get free support
        </a>
        <a
          id="cta-button-in-navbar"
          class="button button-small"
          href="#cta-section"
        >
          Get started
        </a>
      </div>
    </div>
  </nav>  
</header>
