---
title: Cryptocurrency API | RedStone
description: Trusted and secure cryptocurrency market data API. NPM module and HTTP Rest JSON Api.

layout: redstone-api/base

navbar:
  freeSupportLinkUrl: https://discord.com/invite/PVxBZKFr46

introSection:
  title: Trusted & Free Crypto Market Data API
  subtitle: "900+ tokens. Free access. No api-keys. Javascript SDK / NPM module / HTTP Rest Api"
  introImage: /img/tokens.svg
  mainButtonText: Get Started
  mainButtonLink: "#cta-section"
  altActionText: Learn more
  altActionLink: "#features-section"
  callouts:
    - 900+ supported cryptocurrencies
    - No api-keys required
    - Free forever access
    - SDK for JS and Python
    - HTTP Rest JSON API


patnersSection:
  partners:
    - id: arweave
      logo: https://redstone.finance/assets/img/backers/arweave.png
    - title: maven11
      logo: https://redstone.finance/assets/img/backers/maven11.jpeg
    - id: kr1
      logo: https://redstone.finance/assets/img/backers/kr1.jpg
    - id: beringwaters
      logo: https://redstone.finance/assets/img/backers/beringwaters.png
    - id: trgc
      logo: https://redstone.finance/assets/img/backers/trgc.svg
    - id: colliderventures
      logo: https://redstone.finance/assets/img/backers/collider.png
    - id: 1kx
      logo: https://redstone.finance/assets/img/backers/1kx.jpeg

featuresSection:
  features:
    - title: Fast
      icon: https://redstone.finance/assets/img/icons/fast.svg
      description: Average API response time is 0.065s
    - title: Free
      icon: https://redstone.finance/assets/img/icons/cost-efficient.svg
      description: RedStone API is free of charge
    - title: No api-keys
      icon: https://redstone.finance/assets/img/icons/insured.svg
      description: No api keys or registration required
    - title: 50+ exchanges
      icon: https://redstone.finance/assets/img/icons/decentralized.svg
      description: "We collect data from <a href='/supported-currencies' target='_blank'>54 sources</a>, including top crypto exchanges and aggregators"
    - title: Real-time & historical data
      icon: https://redstone.finance/assets/img/icons/accountable.svg
      description: We provide both historical and live market data
    - title: 900+ tokens
      icon: https://redstone.finance/assets/img/icons/versatile.svg
      description: "We provide market data for top 941 cryptocurrencies"

availableTokensSection:
  title: Available tokens
  subtitle: We support more than 900 most popular cryptocurrencies
  fullListLinkText: See all 941 supported tokens
  fullListLinkHref: /supported-currencies
  tokensLimit: 32
  
ctaSection:
  title: Connect to RedStone API
  options:
    - title: NPM moodule
      icon: https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Npm-logo.svg/2560px-Npm-logo.svg.png
    - title: HTTP REST JSON Api
      icon: https://upload.wikimedia.org/wikipedia/commons/thumb/5/5b/HTTP_logo.svg/1280px-HTTP_logo.svg.png
    - title: Javascript SDK
      icon: https://circuit.github.io/images/js-logo.png
    - title: Python SDK
      icon: https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/2048px-Python-logo-notext.svg.png
  buttonText: CONNECT TO API
  buttonLink: https://api.docs.redstone.finance/

feedbackSection:
  title: Was this page helpful?

footer:
  notes: Add links to contact

---

{{ content }}
