---
layout: redstone-api/crypto-api
---

<style>
  :root {
    --main-color: #FD627A;
    --dark-text-color: #24355b;
    --links-color: #FD627A;
    --buttons-color: #FD627A;
    --secondary-text-color: #616368;
    --light-gray-section-bg-color: #f9f9f9;
    --hr-color: #d5d5d5;
    --navbar-height: 60px;
  }

  .logo-container img {
    filter: none !important;
  }

  .intro-image img {
    filter: saturate(0.2) hue-rotate(-10deg);
  }

  .feature-container img {
    /* filter: hue-rotate(-75deg) brightness(0.85); */
    filter: none !important;
  }

</style>

{{ content }}
