---
---

#intro-section {
  .section-content {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;

    height: calc(100vh - var(--navbar-height));

    .intro-texts {
      position: relative;
      bottom: 30px;

      h1 {
        font-size: 58px;
        line-height: 70px;
        color: var(--dark-text-color);
        margin-bottom: 25px;
      }

      .subtitle {
        margin-bottom: 35px;
        ul li {
          color: var(--secondary-text-color);
        }
        
      }

      .buttons {
        span {
          margin-left: 20px;
          margin-right: 20px;
          color: var(--secondary-text-color);
        }
      }

      
    }

    .intro-image {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: 30px;
      img {
        height: calc(85vh - var(--navbar-height));
      }
    }
  }
}

// Non-desktop styles
@media screen and (max-width: 1023px) {
  #intro-section {
    .section-content {
      grid-template-columns: 100%;
      height: unset;

      .intro-texts {
        bottom: 0px;
  
        h1 {
          margin-top: 20px;
          font-size: 26px;
          line-height: 40px;
        }

        .buttons {
          span {
            margin-left: 10px;
            margin-top: 20px;
            margin-bottom: 20px;
            display: block;
          }

          a.alt-action-link {
            margin-left: 10px;
          }
        }
      }
  
      .intro-image {
        display: none;
      }      
    }
  }
}
