<!doctype html>
<html lang="{{ layout.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{ layout.metaDescription }}">
    <meta name="keywords" content="{{ layout.metaKeywords }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{ layout.ogTitle }}">
    <meta property="og:description" content="{{ layout.ogDescription }}">
    <meta property="og:image" content="{{ layout.ogImage }}">
    <meta property="og:url" content="{{ layout.ogUrl }}">

    <title>{{ layout.title }}</title>

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico">

    <!-- We load only GTM script here. The rest will be loaded by GTM -->
    <!-- Learn more: https://marketingplatform.google.com/about/tag-manager -->
    {% include tracking-codes/gtm-in-head.html %}

    <!-- Custom fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <script src="libs/loading-attribute-polyfill/loading-attribute-polyfill.umd.js" async></script>
    <link rel="stylesheet" href="libs/loading-attribute-polyfill/loading-attribute-polyfill.css" />

    <!-- Material design -->
    <!-- <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script> -->

    <!-- Custom styles -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/css/default.css">

    {% if layout.stylesFile %}
      <link rel="stylesheet" href="/css/{{ layout.stylesFile }}">
    {% endif %}

    {% if layout.stylesFile %}
      <link rel="stylesheet" href="/css/{{ layout.stylesFile }}">
    {% endif %}

  </head>
  <body class="mdc-typography notranslate">
    {% include tracking-codes/gtm-in-body.html %}

    {{ content }}

    <!-- Toastr -->
    <!-- jQuery is required for Toastr -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script> -->

    <!-- Axios is used for requests sending -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>

    <!-- Nice alerts -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    {% if layout.scriptFile %}
      <script src="/js/{{ layout.scriptFile }}"></script>
    {% endif %}

    {% if layout.scriptFile %}
      <script src="/js/{{ layout.scriptFile }}"></script>
    {% endif %}

    {% include tawk-to.html %}

  </body>
</html>
